.directory_content-header{
    display: grid;
    grid-template-columns: 1fr 3fr .5fr .5fr;
    align-items: center;
    justify-items: center;
    /* border-bottom: solid 1px var(--secunday-color); */
}
.directory_content-header .content_img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo_light-mode{
    display: none;
}
body.light-theme .logo_light-mode{
    display: block;
}
body.light-theme .logo_dark-mode{
    display: none;
}

.directory_content-header .content_img img{
    object-fit: contain;
    width: 5rem;
}
.directory_content-header .content_img span{
    color: var(--text-color);
    font-size:calc(var(--subtitles-size) - .4rem) ;
    margin-left: 1rem;
}
.content_search-bar{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}
.search_bar-container{
    width: 100%;
    grid-column: 2/3;
    position: relative;
}
.search_bar-container input{
    width: 100%;
    height: 100%;
    padding: 1rem 4rem;
    outline: none;
    border: solid 2px var(--reslt-color);
    background-color: var(--background-links);
    border-radius: .9rem;
    color: var(--subtext-color);
    font-size: 15px;
    box-shadow: var(--shadow-inputs);
}
body.light-theme .search_bar-container input{
    background-color: var(--background-cards-light);
    box-shadow: var(--box-shadow-ligth);
    border: 1px solid var(--reslt-color);
}
.search-icon{
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-40%);
    color: var(--text-color);
}
.content_add{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}
.add_circle-container{
    /* width: 4rem; */
    /* height: 4rem; */
    padding: 1rem 1rem;
    background-color: var(--btns-color);
    display: flex;
    align-items: center;
    border-radius: .7rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: all .3s ease-in-out;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.2rem;
}
body.light-theme .add_circle-container{
    color: var(--text-color-btns);
}
.add_circle-container:hover{
    background-color: var(--hover-color-btns);
    box-shadow: var(--shadow-btn-hover);
}
.add_circle-container .bx-plus{
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight:600;
    margin-left: 1.3rem;
}
body.light-theme .add_circle-container .bx-plus{
    color:var(--text-color-btns) ;
}
.change-theme{
    font-size: 2.8rem;
    color: var(--text-color);
    margin-right: 2rem;
    cursor: pointer;
}
/* body.light-theme .change-theme{
    color: var(--text-color-btns);
} */
  .change-theme:hover{
    color: var(--hover-color-btns);
  }